html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #845EC2;
}

.background2{
  background-color: #FFC75F;
  background-color: #B39CD0;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  

}

ul{
  margin: 10px 0 20px 0;
  padding: 0;
  list-style: none;
}

.jobfound{
  background-color: #FF9671;
  background-color: #efdff3;
  width: 100%;
  margin-bottom: 5px;
  padding: 15px 25px;
  border-radius: 5px;
  
  
}

.jobfound h4{
  
  text-align: center;
  
  
}

.jobfound h5{
  margin: 0;
}

.jobfound p{
  
  text-align: left;
  margin: 0;
  
}

.fillerjob h4{
  
  text-align: center;
  
  
}

.fillerjob h5{
  margin: 0;
}

.fillerjob p{
  
  
  
}



.fillerjob{
  height: 30vh;
}

.fillerjob p{
  text-align: left;
  margin: 0;

}

.jobfound-info-container{
  display: flex;
  justify-content: space-between;
}






.styled-overflow{
  overflow-y:scroll;
  
  
  
}

.styled-overflow::-webkit-scrollbar {
  width: 3px;
}

.styled-overflow::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.styled-overflow::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}